@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("./JetBrainsMono-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("./JetBrainsMono-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./JetBrainsMono-Regular.ttf") format("truetype");
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
